recognitionApp/built
LPRProject_Schedule.xlsx
server/node_modules
server/uploads
server/plate
localisationApp/built
localisationApp/picture/

webApp/vendor/angular/.svn/all-wcprops

webApp/vendor/angular/.svn/entries

*.svn-base

*.cpp#

*.txt
